@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;400&family=Oswald:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Mukta", sans-serif;
}

h1.heading {
  font-family: "Oswald", sans-serif;
  font-style: italic;
}
